* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}
/* used by main.js to hide printing the page*/
.hide{
    visibility: hidden;
    display: none;
}

.header-all{
    padding-top: 2rem;
    height: 9rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 1.05;
    text-align: center;
    border-radius: 2rem;
    background: linear-gradient(90deg, rgba(71,58,218,1) 0%, rgba(16,181,157,1) 51%, rgba(0,212,255,1) 100%);
    grid-column: 1/3;
}

body{
    padding: 2rem;
    font-size: 2.5rem;
}
#opening{
    font-size: 3.5rem;
}
main{
    height: 80rem;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
}

.card-container{
    grid-column: 1;
    grid-row: 1;
    margin: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    border-radius: 5rem;
    padding: 3rem;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 19px 29px;
    height: 75vh;

}


.inner-card{
    border-radius: 3rem;
    padding: 2rem;
    grid-row: 2;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
}

.full-inner-card{
    grid-column: 1/3;

}

.right-card{
    grid-column: 2;
}

.left-card{
    grid-column: 1;
}

.card-container:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.btn-general{

    font-size: 1.7rem;
    background-image: linear-gradient(-180deg, #FF7E31, #e52d04);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 3.3rem;
    /*margin-top: 5vh;*/
    /*pointer-events: auto;*/
    /*white-space: nowrap;*/
    width: 18rem;
    border: 0;
    transition: box-shadow .2s;
}

.btn-control{
    font-size: 2.2vh;
    background-image: linear-gradient(-180deg, #3183ff, #034be6);
    border-radius: 6px;
    cursor: pointer;
    height: 4vh;
    padding: 0 20px;
    width: 25vh;

}

@media (max-width: 59em) {
    html {
        font-size: 40%;
    }
}

.warning{
    border-radius: 25px;
    /*background-color: rgba(239, 2, 2, 0.8);*/
    /*box-shadow: rgba(239, 2, 2, 0.8) 1px 1px 1px 1px;*/
    box-shadow: rgba(239, 2, 2, 0.8) 0 22px 70px 4px !important;

}
